body {
    background-color: #9DBEBB;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 954px;
    height: 594px;
    width: 100%;
    background-color: #BE0909;
    display: flex;
    justify-content: center;

}
    

.form-box {
    background-color: #BE0909;
    padding: 30px;
    color: white;
}

input, textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px;
}

.image-box {
    max-width: 345px;
    height: 594px;
    width: 100%;
    background-color: #FFB039;
    position: absolute;
    left: 41%;
}

::placeholder {
    color: white;

}

label, input, button, textarea {
    margin: 15px;
}

.Duck-image {
    position: absolute;
    right: 10%;


}

.Send-btn {
    width: 202px;
    height: 48px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 10%;
    line-height: auto;
    color: #FFFFFF;
    background-color: #468189;
    box-shadow: black 1px 1px 1px 0px;
    justify-content: center;
}

.Send-btn:hover {
    background-color: #426966;
}
