body {
    background-color: #9DBEBB;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 954px;
    height: 594px;
    width: 100%;
    background-color: #BE0909;
}
    

.form-box {
    background-color: #BE0909;
    width: 50%;
    padding: 30px;
    color: white;
}

input, textarea {
      width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px;
}

.image-box {
    max-width: 345px;
    height: 594px;
    width: 100%;
    background-color: #FFB039;
}